<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>AdminServlet1</servlet-name>
        <servlet-class>com.learnersacademy.controller.AdminServlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet1</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ClassServlet1</servlet-name>
        <servlet-class>com.learnersacademy.controller.ClassServlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClassServlet1</servlet-name>
        <url-pattern>/schoolclasses</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StudentServlet1</servlet-name>
        <servlet-class>com.learnersacademy.controller.StudentServlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentServlet1</servlet-name>
        <url-pattern>/students</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TeacherServlet1</servlet-name>
        <servlet-class>com.learnersacademy.controller.TeacherServlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TeacherServlet1</servlet-name>
        <url-pattern>/teachers</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
